.signIn {
    background-color: #12002b;
    display: flex;
    justify-content: center;
    height: calc(100vh - 65px - 76px);

    .signInFormContainer {
        background-color: white;
        height: 360px;
        width: 300px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .signInIcon {
            width: 20px;
            height: 20px;
        }

        .signInForm {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 100%;
            padding: 0px 35px;
            gap: 10px;

            .signInInputContainer {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    font-weight: bold;
                }

                .signInInput {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: #E8F0FE;
                    border: .5px solid #000;
                    border-radius: 1px;
                    font-size: 1.2rem;
                    padding: 5px;
                }
            }

            .signInInputRemember {
                .signInInput {
                    margin-right: 5px;
                }
            }

            .signInButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 37px;
                font-size: 1.1rem;
                font-weight: bold;
                margin-top: 15px;
                border: 0;
                background-color: #00bc77;
                color: #fff;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}