#footer {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
    bottom: 0px;
}